<div class="container">
  <h2>User Settings</h2>

  <form #form="ngForm">
    <!-- text input -->
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" class="form-control" placeholder="Name" ngModel />
    </div>
    <!-- check button -->
    <div class="form-group form-check">
      <input class="form-check-input" type="checkbox" name="emailOffers" id="emailOffers" ngModel/>
      <label class="form-check-label" for="emailOffers">
        Email Special Offers
      </label>
    </div>
    <!-- radio buttons -->
    <p>User Interface Style</p>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="interfaceStyle" value="light" checked ngModel/>
        <label class="form-check-label" for="lightInterface">
          light
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="interfaceStyle" value="medium" ngModel/>
        <label class="form-check-label" for="mediumInterface">
          Medium
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="interfaceStyle" value="dark" ngModel/>
        <label class="form-check-label" for="darkInterface">
          Dark
        </label>
      </div>
    </div>
    <!-- select group-->
    <div class="form-group">
      <label for="subscriptionType">Subscription Type</label>
      <select class="form-control" id="subscriptionType" name="subscriptionType" ngModel>
        <option>Monthly</option>
        <option>Annual</option>
        <option>Lifetime</option>
      </select>
    </div>
    <!-- text area -->
    <div class="form-group">
      <label for="notes">Example textarea</label>
      <textarea id="notes" name="textarea" class="form-control" rows="3" ngModel></textarea>
    </div>
    <!-- password field -->
    <!-- <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" />
    </div> -->

    <!-- submit button -->
    <button class="btn btn-primary">Ok</button>
  </form>

</div>

<h3>{{ form.value | json }}</h3>
