<div class="container">
  <h2>User Settings</h2>
<!-- added "ngNativeValidate" directive to our form  -->
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <!-- text input -->
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" class="form-control" placeholder="Name" [(ngModel)]= "userSettings.name"
            required #nameField="ngModel"
            (blur)="onBlur(nameField)"
            [class.field-error]="form.submitted && nameField.invalid">
      <div [hidden]="!form.submitted || nameField.valid"
        class="alert alert-danger">
        Enter a name
      </div>
    </div>

    <!-- check button -->
    <div class="form-group form-check">
      <input class="form-check-input" type="checkbox" name="emailOffers" id="emailOffers" [(ngModel)]= "userSettings.emailOffers"/>
      <label class="form-check-label" for="emailOffers">
        Email Special Offers
      </label>
    </div>
    <!-- radio buttons -->
    <p>User Interface Style</p>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="interfaceStyle" value="light" checked [(ngModel)]="userSettings.interfaceStyle"/>
        <label class="form-check-label" for="lightInterface">
          light
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="interfaceStyle" value="medium" [(ngModel)]="userSettings.interfaceStyle"/>
        <label class="form-check-label" for="mediumInterface">
          Medium
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="interfaceStyle" value="dark" [(ngModel)]="userSettings.interfaceStyle"/>
        <label class="form-check-label" for="darkInterface">
          Dark
        </label>
      </div>
    </div>
    <!-- select group-->
    <div class="form-group">
      <label for="subscriptionType">Subscription Type</label>
      <select class="form-control" id="subscriptionType" name="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
        <option>Monthly</option>
        <option>Annual</option>
        <option>Lifetime</option>
      </select>
    </div>
    <!-- text area -->
    <div class="form-group">
      <label for="notes">Example textarea</label>
      <textarea id="notes" name="notes" class="form-control" rows="3" [(ngModel)]="userSettings.notes"></textarea>
    </div>
    <!-- password field -->
    <!-- <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" />
    </div> -->

    <!-- submit button -->
    <button class="btn btn-primary">Ok</button>
  </form>

</div>


<h3>{{ userSettings | json }}</h3>
<!-- <h3>{{ originalUserSettings | json }}</h3> -->
